/* ITEC 4020 Section A - Assignment 1 - Maryam Ahmed - Student Number 217318684*/

header {
    background-color: #71816d;
    color: #f1e0c5;
    text-align: center;
    padding: 20px;

}

h1 {
    margin: 10;
    font-size: 45px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #c9b79c;
    margin: 0;
}

section {
    background-color: #f1e0c5;
    margin: 20px;
    padding: 50px;
}

strong {
    font-weight: bold;
    color: #71816d;
}

ul {
    list-style: square; /* I want to use an emoji, instead of square or circle :( */
    padding-left: 30px;
}

h2 {
    border-bottom: 2px solid #71816d;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 30px;
text-align: center;
}

img {
    display: block;
    border-radius: 10%;
    margin: 0 auto;
    padding-bottom: 40px;
    width: 300px;
    height: 300px;
}

.photo-container {
    display: flex;
    justify-content:
    align-items: center;
}

.photo-container img {
    max-width: 30%;
    height: auto;
}
